<div class="p-pt-2">

  <div *ngIf="m_Destinations.length > 0">
    <div class="p-inputgroup p-mt-4" *ngFor="let dest of m_Destinations">
      <span class="p-inputgroup-addon"><i class="pi pi-reply"></i></span>
      <span class="p-float-label">
        <input type="text" pInputText id="destination">
        <label for="destination">Destination ({{mgDestinationType}})</label>
      </span>
    </div>
  </div>

  <div *ngIf="m_Destinations.length == 0" class="p-text-center">
    <strong>No destinations found ({{mgDestinationType}})</strong>
  </div>

  <div class="p-grid p-jc-center p-mr-auto p-ml-auto p-mt-4">
    <button 
      (click)="onSave($event)"
      pRipple
      pButton
      icon="pi pi-check"
      class="p-button-success p-button-outlined p-button-rounded p-mr-1">
    </button>
    <button 
      (click)="onAdd($event)"
      pRipple
      pButton
      icon="pi pi-plus"
      class="p-button-info p-button-outlined p-button-rounded p-ml-1 p-mr-1">
    </button>
    <button 
      (click)="onRemove($event)"
      pRipple
      pButton
      icon="pi pi-trash"
      class="p-button-danger p-button-outlined p-button-rounded p-ml-1">
    </button>
  </div>
</div>