/*Something*/

.mg-comp-container {
  padding:0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius:3px;
  background-color: var(--surface-d)!important;
}