.mg-local-section {
  background: var(--surface-e);
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--surface-d);
}

.mg-local-title {
  padding-bottom:1rem;
  border-bottom: 1px solid var(--surface-d);
}

.mg-local-title strong {
  font-size:1.25rem;
  font-family: var(--text-font);
}