<div class="mg-style-full-width mg-style-overflow-hidden">

  <div class="p-grid p-mt-5">
    <div class="p-col-12 p-xl-3 p-lg-3 p-md-2 p-sm-12">
    </div>

    <div class="p-col-12 p-xl-6 p-lg-6 p-md-8 p-sm-12">
      <div class="p-grid p-jc-center p-mr-auto p-ml-auto">

        <div class="p-mr-1">
          <magic-widget (click)="doClick($event)" mgIcon="pi-sitemap">
          </magic-widget>
        </div>
        
        <div class="p-ml-1 p-mr-1">
          <magic-widget (click)="doClick($event)" mgIcon="pi-shield">
          </magic-widget>
        </div>
        
        <div class="p-ml-1 p-mr-1">
          <magic-widget (click)="doClick($event)" mgIcon="pi-users">
          </magic-widget>
        </div>
        
        <div class="p-ml-1">
          <magic-widget (click)="doClick($event)" mgIcon="pi-cog">
          </magic-widget>
        </div>

      </div>
    </div>

    <div class="p-col-12 p-xl-3 p-lg-3 p-md-2 p-sm-12">
    </div>
  </div>
</div>