<div class="mg-style-full-width mg-style-overflow-hidden">

  <div class="p-grid p-mt-5">
    <div class="p-col-12 p-xl-3 p-lg-3 p-md-2 p-sm-12">
    </div>

    <div class="p-col-12 p-xl-6 p-lg-6 p-md-8 p-sm-12">
      <div class="p-grid p-jc-center p-mr-auto p-ml-auto">

        <div class="p-mr-1">
          <magic-widget 
            (click)="onSectionChange(1)" 
            mgIcon="pi-sitemap"
            mgTitle="Proxy settings">
          </magic-widget>
        </div>
        
        <div class="p-ml-1 p-mr-1">
          <magic-widget 
            (click)="onSectionChange(2)" 
            mgIcon="pi-shield"
            mgTitle="Security settings">
          </magic-widget>
        </div>
        
        <div class="p-ml-1 p-mr-1">
          <magic-widget 
            (click)="onSectionChange(3)" 
            mgIcon="pi-users"
            mgTitle="Users settings">
          </magic-widget>
        </div>
        
        <div class="p-ml-1">
          <magic-widget 
            (click)="onSectionChange(4)" 
            mgIcon="pi-cog"
            mgTitle="Preferences">
          </magic-widget>
        </div>

      </div>
    </div>

    <div class="p-col-12 p-xl-3 p-lg-3 p-md-2 p-sm-12">
    </div>
  </div>

  <div class="p-grid p-mt-2">
    <div class="p-col-12 p-xl-3 p-lg-3 p-md-2 p-sm-12">
    </div>
    <div class="p-col-12 p-xl-6 p-lg-6 p-md-8 p-sm-12">
      <magic-proxy *ngIf="m_SectionNumber == 1"></magic-proxy>
      <magic-security *ngIf="m_SectionNumber == 2"></magic-security>
      <magic-users *ngIf="m_SectionNumber == 3"></magic-users>
      <magic-preference *ngIf="m_SectionNumber == 4"></magic-preference>
    </div>
    <div class="p-col-12 p-xl-3 p-lg-3 p-md-2 p-sm-12">
    </div>
  </div>

</div>